<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="keywords" content="instrumente muzicale, magazin muzica, 
                            chitara, pian, tobe, instrumente de suflat">
    <meta name="description"
        content="Magazin online specializat în instrumente muzicale pentru muzicieni amatori și profesioniști.">

    <title>Magazin online de instrumente muzicale: SoundMaster</title>

    <%- include('../fragmente/head.ejs') %>

</head>

<body>
    <%- include('../fragmente/header.ejs') %>
        <main>
            <section id="istoric">
                <h2>Istoricul SoundMaster</h2>
                <p>SoundMaster a fost fondat în 2024 din pasiunea pentru muzică. Suntem o echipă dedicată care dorește
                    să ofere cele mai bune instrumente muzicale, de la piane digitale la kit-uri de tobe profesionale.
                </p>
            </section>

            <section id="misiune">
                <h2>Misiunea noastră</h2>
                <p>Ne propunem să sprijinim artiștii locali și să oferim consultanță gratuită pentru alegerea primului
                    instrument.</p>
            </section>
        </main>
        <%- include('../fragmente/footer.ejs') %>
</body>

</html>