<!DOCTYPE html>
<html lang="ro">

<head>

    <title>Magazin online de instrumente muzicale: SoundMaster</title>
    <meta name="keywords" content="instrumente muzicale, magazin muzica, 
                            chitara, pian, tobe, instrumente de suflat">
    <meta name="description"
        content="Magazin online specializat în instrumente muzicale pentru muzicieni amatori și profesioniști.">

    <%- include("../fragmente/head.ejs") %>
</head>

<body id="pagina-galerie.statica">
    <%- include("../fragmente/header.ejs") %>
        <main> <!--  comentariu -->
            <div id="grid-pagina">
                <section id="galerie">
                    <h2>Galerie</h2>

                    <div id="galerie-container"></div>
                    
                        <div id="grid-galerie">
                            <figure>
                                <img src="/resurse/imagini/galerie/yamaha.jpg" alt="pian">

                                <figcaption>Pian Yamaha</figcaption>
                            </figure>
                            <figure>

                                <img src="/resurse/imagini/galerie/violin1.jpg" alt="Vioara1">

                                <figcaption>Vioară</figcaption>
                            </figure>
                            <figure>

                                <img src="/resurse/imagini/galerie/chitara_bass.jpg" alt="Chitara Bass">

                                <figcaption>Chitară bass</figcaption>
                            </figure>
                            <figure>
                                <img src="/resurse/imagini/galerie/vioara.jpg" alt="Vioară">
                                <figcaption>Vioară</figcaption>
                            </figure>
                            <figure>
                                <img src="/resurse/imagini/galerie/tobe.png" alt="Tobe">
                                <figcaption>Tobe</figcaption>
                            </figure>
                            <figure>
                                <img src="/resurse/imagini/galerie/saxofon.jpg" alt="Saxofon">
                                <figcaption>Saxofon</figcaption>
                            </figure>
                            <figure>
                                <img src="/resurse/imagini/galerie/reddrums.jpg" alt="Tobe roșii">
                                <figcaption>Tobe roșii</figcaption>
                            </figure>
                            <figure>
                                <img src="/resurse/imagini/galerie/pian.png" alt="Pian">
                                <figcaption>Pian</figcaption>
                            </figure>
                            <figure>
                                <img src="/resurse/imagini/galerie/guitar23.jpg" alt="Chitară">
                                <figcaption>Chitară</figcaption>
                            </figure>
                            <figure>
                                <img src="/resurse/imagini/galerie/electric.jpg" alt="Chitară electrică">
                                <figcaption>Chitară electrică</figcaption>
                            </figure>
                            <figure>
                                <img src="/resurse/imagini/galerie/electric_drums.jpg" alt="Tobe electronice">
                                <figcaption>Tobe electronice</figcaption>
                            </figure>
                            <figure>
                                <img src="/resurse/imagini/galerie/digital_piano2.jpg" alt="Pian digital">
                                <figcaption>Pian digital</figcaption>
                            </figure>
                            <figure>
                                <img src="/resurse/imagini/galerie/digital_piano.jpg" alt="Pian digital">
                                <figcaption>Pian digital</figcaption>
                            </figure>
                            <figure>
                                <img src="/resurse/imagini/galerie/brown_drums.jpg" alt="Tobe maro">
                                <figcaption>Tobe maro</figcaption>
                            </figure>

                        </div>
                    </div>

                </section>
                </section>
            </div>


        </main>

        <%- include("../fragmente/footer.ejs") %>
</body>

</html>