<!DOCTYPE html>
<html lang="ro">

<head>

    <title>Magazin online de instrumente muzicale: SoundMaster</title>
    <meta name="keywords" content="instrumente muzicale, magazin muzica, 
                            chitara, pian, tobe, instrumente de suflat">
    <meta name="description"
       > content="Magazin online specializat în instrumente muzicale pentru muzicieni amatori și profesioniști.">

    <%- include("../fragmente/head.ejs") %>
</head>

<body>
    <%- include("../fragmente/header.ejs") %>
    <button class="btn btn-primary">Buton bootstrap</button>button></button>

    <%- include("../pagini/despre.ejs") %>
    
    

    <%- include("../fragmente/footer.ejs") %>
</body>

</html>