@import "video.css";

body {
    --culoare-buton: #9500EA;
    --culoare-fundal: #FFFFFF;
    --culoare-secundara: #D9E6E9;
    --culoare-text: #000000;
    --culoare-highlight: #EA3424;

    --culoare-contur: var(--culoare-text);
    --margine-laterala: 10px;

    --spatiere-stanga: 20px;
    --spatiere-dreapta: 20px;
    --gap-grid: 30px;
    --zona-padding: 15px;

    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
    margin-left: var(--margine-laterala);
    margin-right: var(--margine-laterala);

}

#pagina-galerie.statica {
    background-image: url("/resurse/imagini/musicbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    animation: bg-change 15s infinite;
}

body.theme-dark {
    --culoare-buton: #7a2cff;
    --culoare-fundal: #121212;
    --culoare-secundara: #2a2a2a;
    --culoare-text: #ffffff;
    --culoare-highlight: #EA3424;

    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
}

p {
    border: 1px solid var(--culoare-fundal);
}

html {
    font-size: 18px;
    transition: font-size 0.5s ease;
}

main {
    margin-left: var(--margine-laterala);
    margin-right: var(--margine-laterala);
}

figure {
    margin: 0;
}

#grid-pagina {
    display: grid;
    gap: var(--gap-grid);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "z1 z1 z1 z1"
        "z2 z2 z3 z3"
        "z2 z2 z4 z4"
        "z5 z6 z6 z7"
        "z8 z8 z8 z8";
}

#grid-pagina>* {
    background-color: var(--culoare-fundal);
    border: 1px solid var(--culoare-contur);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--culoare-text);
    padding: var(--zona-padding);
}

body {
    font-size: 1rem;
    /* 18px */
    line-height: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 25px;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 40px;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
}

p {
    font-size: 1rem;
}


ul.meniu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#header {
    background-color: var(--culoare-secundara);
    border: 2px solid var(--culoare-contur);
    border-radius: 10px;
    padding: var(--zona-padding);
    text-align: left;
    box-shadow: 0 4px 8px var(--culoare-contur);
}

#welcome {
    grid-area: z1;
    justify-content: center;
}

#welcome strong {
    color: var(--culoare-text);
    font-weight: 700;
}

#welcome h2 {
    color: var(--culoare-highlight);
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#welcome h3 {
    color: var(--culoare-buton);
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    padding-left: 0.5rem;
}

.intro-oferte>div {
    display: list-item;
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 5px;
    color: var(--culoare-text);
    font-weight: 500;
}

#produse-populare {
    grid-area: z2;
}

#program-evenimente {
    grid-area: z3;
    padding-bottom: 40px;
}

#anunturi {
    grid-area: z4;

}

#anunturi h3 {
    border-left: 5px solid var(--culoare-highlight);
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}

#resurse {
    grid-area: z5;
    gap: 20px;
    padding: var(--zona-padding);
}

#promotii {
    grid-area: z6;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border: 1px solid var(--culoare-fundal);
}

#instrumente {
    grid-area: z7;
    display: block;
    gap: 20px;
    padding: 10px;
    border: 1px solid var(--culoare-highlight);
    justify-content: center;

    column-count: 2;
    column-gap: 30px;
    column-rule: 1px solid var(--culoare-text);
}

#instrumente h3 {
    border-left: 5px solid var(--culoare-highlight);
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/*  */

hr {
    border: none;
    height: 15px;
    background: repeating-linear-gradient(to bottom,
            var(--culoare-highlight),
            var(--culoare-highlight) 2px,
            transparent 2px,
            transparent 4px);
    border-radius: 10px;
    margin: 10px auto;
    width: 90%;
}

.imagine-efect {
    position: relative;
    width: 300px;
    height: 500px;
    overflow: hidden;
    transition: filter 2s linear;
    isolation: isolate;
    filter: grayscale(0%);
}

.imagine-efect img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagine-efect::before,
.imagine-efect::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: opacity 2s linear;
}

.imagine-efect::before {
    background-color: var(--culoare-text);
    mix-blend-mode: lighten;
}

.imagine-efect::after {
    background-color: var(--culoare-buton);
    mix-blend-mode: darken;
}

.imagine-efect:hover {
    filter: grayscale(100%);
}

.imagine-efect:hover::before,
.imagine-efect:hover::after {
    opacity: 0;
}

/*text*/
.container-text {
    position: relative;
    display: inline-block;
    margin-bottom: 80px;
}

#text {
    position: relative;
    z-index: 2;
}

#text-reflectat {
    position: absolute;
    left: 0;
    top: 100%;
    transform-origin: 0 0;
    transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px, -25px);
    opacity: 0.55;
    z-index: 1;
    transition: 0.5s linear;
}

#text,
#text-reflectat {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
}

.container-text:hover #text-reflectat {
    transform: rotateX(180deg) skew(-60deg) scaleY(1) translate(15px, -30px);
    opacity: 0.35;
}

#galerie {
    grid-area: z8;
    width: 100%;
}

#grid-galerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
        ".   i1  i2"
        "i3  .   i4"
        "i5  i6  ."
        "i7  .   i8"
        ".   i9  i10"
        "i11 .   i12"
        "i13 i14 .";

    gap: 20px;
    width: 100%;
    counter-reset: img;
}

#grid-galerie figure:nth-child(1) {
    grid-area: i1;
}

#grid-galerie figure:nth-child(2) {
    grid-area: i2;
}

#grid-galerie figure:nth-child(3) {
    grid-area: i3;
}

#grid-galerie figure:nth-child(4) {
    grid-area: i4;
}

#grid-galerie figure:nth-child(5) {
    grid-area: i5;
}

#grid-galerie figure:nth-child(6) {
    grid-area: i6;
}

#grid-galerie figure:nth-child(7) {
    grid-area: i7;
}

#grid-galerie figure:nth-child(8) {
    grid-area: i8;
}

#grid-galerie figure:nth-child(9) {
    grid-area: i9;
}

#grid-galerie figure:nth-child(10) {
    grid-area: i10;
}

#grid-galerie figure:nth-child(11) {
    grid-area: i11;
}

#grid-galerie figure:nth-child(12) {
    grid-area: i12;
}

#grid-galerie figure:nth-child(13) {
    grid-area: i13;
}

#grid-galerie figure:nth-child(14) {
    grid-area: i14;
}

#grid-galerie img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    filter: brightness(50%);
    transition: filter 1.2s ease;
    border-radius: 3px;
    box-shadow: 0 4px 5px var(--culoare-secundara);
    transition: transform 0.3s ease;
}

#grid-galerie figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    counter-increment: img;
    transition: all 1.2s ease;
}

#grid-galerie figure:hover {
    box-shadow: 0 0 10px var(--culoare-secundara);
    transform: scale(1.02);
}

#grid-galerie figure:hover img {
    filter: brightness(100%);
}

#grid-galerie figcaption {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: var(--culoare-text);
    transition: background-color 1.2s ease, color 1.2s ease;
    padding: 5px;
}

#grid-galerie figcaption::before {
    content: counter(img, decimal-leading-zero) " ";
}

#grid-galerie figure:hover figcaption {
    background-color: var(--culoare-secundara);
    color: var(--culoare-text);
}

#demo-instrumente {
    grid-column: 1 / -1;
    width: 100%;
    margin-top: 2rem;
}

::selection {
    background-color: var(--culoare-text);
    color: var(--culoare-fundal);
}

.btn-primary {
    color: #ffffff;
}

.theme-dark .btn-primary {
    background-color: #7a2cff;
}

.mesaj-animat {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: var(--culoare-highlight);
    color: var(--culoare-fundal);
    padding: 8px 0;
    margin: 8px 0;
}

.mesaj-animat p {
    display: inline-block;
    animation: scroll-text 10s linear infinite;
}

@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.bg-animat {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    animation: bg-change 15s infinite;
}

@keyframes bg-change {

    0%,
    30% {
        background-image: url("/resurse/imagini/musicbg.png");
    }

    33%,
    63% {
        background-image: url("/resurse/imagini/musicbg2.jpg");
    }

    66%,
    100% {
        background-image: url("/resurse/imagini/musicbg3.jpg");
    }
}

#footer {
    text-align: left;
    background-color: var(--culoare-secundara);
    color: var(--culoare-text);
    font-style: italic
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 17px;

    }

    body {
        --gap-grid: 10px;
        margin-left: 40px;
        margin-right: 40px;
    }

    #grid-pagina {
        grid-template-columns: 1fr 1fr;

        grid-template-areas:
            "z1 z1"
            "z2 z2"
            "z3 z4"
            "z5 z7"
            "z6 z6"
            "z8 z8";
    }

    .tabel-container {
        overflow-x: auto;
    }

    #instrumente {
        column-count: 1;
        column-rule: none;
    }

    #grid-galerie {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: none;
    }

    #grid-galerie figure {
        grid-area: auto !important;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
}

th,
td {
    border: 1px solid var(--culoare-contur);
    padding: 0.5rem;
    text-align: left;
}

thead {
    background-color: var(--culoare-buton);
    color: var(--culoare-fundal);
}

#tabel-instrumente caption {
    caption-side: bottom;
    font-weight: bold;
    margin-top: 10px;
    color: var(--culoare-text);
    text-align: center;
}

#tabel-instrumente tbody tr:nth-child(odd) {
    background-color: var(--culoare-secundara);
}

#tabel-instrumente tbody tr:nth-child(even) {
    background-color: var(--culoare-fundal);
}

#tabel-instrumente tbody tr {
    transition: background-color 0.3s ease;
}

#tabel-instrumente tbody tr:hover {
    background-color: var(--culoare-buton);
    color: var(--culoare-fundal);
}

.celula-unita {
    padding: 0;
    background-color: var(--culoare-secundara);
    color: var(--culoare-text);
}

.continut-izolat {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    transition: none;
}

#tabel-instrumente {
    border-collapse: separate;
    border-spacing: 2px;
    width: 100%;
}

.tabel-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#tabel-instrumente tfoot {
    font-style: italic;
    text-align: center;
    background-color: var(--culoare-secundara);
}

.tabel-responsive {
    width: 100%;
    border-collapse: collapse;
}

.tabel-responsive th,
.tabel-responsive td {
    border: 1px solid var(--culoare-contur);
    padding: 0.5rem;
}

#transpus {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#instrumente ul,
#instrumente dl {
    margin: 1rem 0;
    padding-left: 1.5rem;
}

#instrumente li {
    margin-bottom: 0.5rem;
    list-style-type: disc;
    color: var(--culoare-text);
}

#instrumente dt {
    font-weight: bold;
    margin-top: 0.5rem;
}

#instrumente dd {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 700px) {
    html {
        font-size: 16px;

    }

    #grid-pagina {
        grid-template-columns: 1fr;

        grid-template-areas: "z1" "z2" "z3" "z4" "z5" "z6" "z7" "z8";
    }

    body {
        --gap-grid: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #instrumente {
        column-count: 1;
    }

    #galerie img {
        flex: 0 1 90%;
        max-width: 100%;
        min-width: 150px;
    }

    #grid-galerie {
        grid-template-columns: 1fr;
    }

    #tabel-instrumente {
        border-spacing: 0;
    }

    .tabel-responsive thead,
    .tabel-responsive tbody,
    .tabel-responsive tr {
        display: block;
        float: left;
        width: 100%;
    }

    .tabel-responsive td,
    .tabel-responsive th {
        display: block;
        border: 1px solid var(--culoare-contur);
        padding: 0.3em;
    }

    .tabel-responsive td+td,
    .tabel-responsive th+th {
        border-top: none;
    }

    .tabel-responsive thead {
        display: none;
    }

    .tabel-responsive tr {
        margin-bottom: 1rem;
        border: 1px solid var(--culoare-contur);
        background: var(--culoare-fundal);
    }

    .tabel-responsive td {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tabel-responsive td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 1rem;
        color: var(--culoare-highlight);
    }

    #transpus thead,
    tbody,
    tr {
        display: block;
        float: left;
    }

    #transpus th,
    td {
        display: block;
        border: 1px solid var(--culoare-text);
        padding: 0.3em;
    }

    #transpus td+td,
    #transpus th+th {
        border-top: none;
    }

    #transpus {
        border-collapse: collapse;
    }

    * {
        transition: none;
        animation: none;
    }

}

.harta-interactiva {
    text-align: center;
    margin: 30px 0;
}

.harta-interactiva img {
    border: 2px solid var(--culoare-text);
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
    min-width: 300px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

/* Imagine responsive */
.imagine-responsive img {
    width: 60%;
    max-width: 600px;
    min-width: 300px;
    height: 500px;
    text-align: center;
    border-radius: 5px;
    display: block;
}

.imagine-responsive figcaption {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: var(--culoare-text);
}

figure.fg-img>img {
    width: 60%;
    max-width: 600px;
    min-width: 300px;
}


h1 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.container-iframe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: flex-end;
    padding: 10px;
    border: 2px solid var(--culoare-contur);
    border-radius: 8px;
    background-color: var(--culoare-fundal);
    width: 70%;
    max-width: 800px;
    min-width: 300px;
}

.container-iframe iframe {
    width: 100%;
    height: 315px;
    border: 1px solid var(--culoare-contur);
    border-radius: 0 0 5px 5px;
}

.taburi-iframe {
    display: flex;
    flex-direction: row;
    align-items: flex;
    justify-content: flex-end;
}

.taburi-iframe>a {
    display: inline-block;
    padding: 10px;
    background-color: var(--culoare-text);
    border: 1px solid var(--culoare-contur);
    color: var(--culoare-fundal) !important;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 5px;
    transition: all 0.05s linear;
}

.taburi-iframe>a:hover {
    background-color: var(--culoare-buton) !important;
    color: var(--culoare-text) !important;
}

.icon-animat {
    color: var(--culoare-buton);
    font-size: 1.5rem;
    animation: rotire 1s linear infinite;
}

@keyframes rotire {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.link-top {
    position: fixed;
    bottom: 30px !important;
    right: 30px !important;
    width: 60px;
    height: 60px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
    border: 2px solid var(--culoare-text);
    border-radius: 50%;
    opacity: 0.6;
    box-shadow: 0 4px 10px var(--culoare-text);
    text-decoration: none;
    transition: all 0.5s ease;
    z-index: 2000;
}

.link-top span:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
}

.tooltip-text {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--culoare-text);
    color: var(--culoare-fundal) !important;
    padding: 8px 15px;
    border-radius: 6px;
    white-space: nowrap;

    font-family: sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    font-style: normal !important;
    line-height: 1.2;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 3000;
}

.link-top:hover {
    opacity: 1;
    background-color: var(--culoare-secundara);
}

.link-top:hover .tooltip-text {
    visibility: visible !important;
    opacity: 1 !important;
}

math[display="block"] {
    background-color: var(--culoare-secundara);
    padding: 20px;
    border-radius: 10px;
    border: 1px dashed var(--culoare-contur);
    margin: 10px auto;
}

.evidentiat {

    color: var(--culoare-highlight);
    font-size: 1.2rem;
    font-weight: bold;
}

mo {
    color: var(--culoare-text);
    font-size: 1.1rem;
    font-weight: bold;
}

.text-mic {
    font-size: 0.7rem;
    font-style: italic;
    color: var(--culoare-text);
}

.numar-bold {
    font-weight: 900;
    color: var(--culoare-buton);
}

.evidentiat-special {
    color: var(--culoare-highlight);
    font-family: "Cinzel", serif;
}

mfrac {
    padding: 5px;
}

/* link-uri*/
a:visited {
    color: var(--culoare-buton);
}

main a[href^="http"]::before {
    content: "⮳";
    font-size: 1.5em;
}

main a[href^="http"]:hover::before {
    color: var(--culoare-text);

}

main a {
    position: relative;
    background-image: radial-gradient(circle, var(--culoare-secundara) 0%, var(--culoare-secundara) 40%, transparent 80%, transparent 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0%;
    transition: background-size 0.4s ease;
}

main a:hover {
    background-size: 100%;
}

main a:active {
    border: 2px solid var(--culoare-text);
}

#watermark {
    display: none;
}


@media print {

    h1 {
        text-align: center;
        margin-top: 50px;
        page-break-before: always;
    }

    nav {
        display: block !important;
        position: static !important;
    }

    nav ul.meniu {
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
        clip-path: none !important;
        transform: none !important;
        list-style-type: disc;
        padding-left: 20px;
    }

    nav ul.meniu li {
        display: list-item !important;
        width: auto !important;
        height: auto !important;
        line-height: normal !important;
        background: none !important;
        color: black !important;
        border: none !important;
        position: static !important;
        text-align: left !important;
    }

    nav ul.meniu li ul {
        display: block !important;
        position: static !important;
        transform: none !important;
        padding-left: 30px;
        list-style-type: circle;
    }

    nav {
        page-break-after: always;
    }

    footer {
        page-break-before: always;
    }

    .banner-print {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        border: 4px double black;
        padding: 10px;
        background-color: white;
        z-index: 1000;
        margin: 0;
        text-align: center;
        box-sizing: border-box;
    }

    a {
        color: black !important;
        text-decoration: none !important;
        background: none !important;
    }

    img,
    video,
    audio,
    iframe,
    figure,
    figcaption,
    .imag-icon,
    canvas,
    #hamburger,
    #ch-menu {
        display: none !important;
    }

    a[href="#header"],
    .back-to-top,
    #link-top {
        display: none !important;
    }

    #grid-pagina {
        display: block !important;
        width: 100%;
    }

    body {
        background: none !important;
        color: black !important;
    }

    #watermark {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 60%;
        height: 10%;

        color: rgba(0, 0, 0, 0.3);
        font-size: 40pt;
        font-weight: bold;
        text-align: center;
        line-height: 1.2;
        z-index: 10;
        pointer-events: none;
    }

    @page :left {
        margin-left: 2cm;
        margin-right: 1cm;
    }

    @page :right {
        margin-left: 1cm;
        margin-right: 2cm;
    }

    @page {
        size: A4;
    }
}