<header id="header">
    <h1>Magazin online de instrumente muzicale: SoundMaster<i class="fa-solid fa-drum"></i></h1>
</header>

<nav>
    <input type="checkbox" id="ch-menu" />
    <label id="hamburger" for="ch-menu">
        <span></span>
        <span></span>
        <span></span>
    </label>
    

    <ul class="meniu">
        <li class="item-acasa">
            <a href="index.html">
                <div class="text-icon">Acasă</div>
                <div class="imag-icon">
                    <span class="fas fa-house"></span>
                </div>
            </a>
            <ul>
                <li style="--i:0;"><a href="/index#welcome">Prezentare</a></li>
                <li style="--i:1;"><a href="/index#produse-populare">Produse Populare</a></li>
                <li style="--i:2;"><a href="/index#program-evenimente">Evenimente</a></li>
                <li style="--i:3;"><a href="/index#anunturi">Anunturi</a></li>
                <li style="--i:4;"><a href="/index#resurse">Resurse</a></li>
                <li style="--i:5;"><a href="/index#promotii">Promotii</a></li>
                <li style="--i:6;"><a href="/index#instrumente">Instrumente</a></li>
            </ul>
        </li>

        <li>
            <a href="/index#galerie">
                <div class="text-icon">Galerie</div>
                <div class="imag-icon"><span class="fa-solid fa-image"></span></div>
            </a>
            <ul>
                <li><a href="/galerie-statica">Statică</a></li>
                <li><a href="/galerie-dinamica">Dinamică</a></li>
            </ul>
        </li>

        <li>
            <a href="/index#produse">
                <div class="text-icon">Produse</div>
                <div class="imag-icon"><span class="fa-solid fa-music"></span></div>
            </a>
            <ul>
                <li><a href="/produse#secțiune-piane">Piane</a></li>
                <li><a href="/produse#secțiune-chitare">Chitare și Basuri</a></li>
                <li><a href="/produse#secțiune-tobe">Tobe</a></li>
                <li><a href="/produse#secțiune-instrumente-cu-coarde">Instrumente cu coarde</a></li>
            </ul>
        </li>

        <li>
            <a href="/index#demo-instrumente">
                <div class="text-icon">Demo</div>
                <div class="imag-icon"><span class="fa-solid fa-circle-play"></span></div>
            </a>
        </li>

        <li>
            <a href="/index#footer">
                <div class="text-icon">Contact</div>
                <div class="imag-icon"><span class="fa-regular fa-envelope"></span></div>
            </a>
        </li>
    </ul>
</nav>