<header id="header">
    <h1>Magazin online de instrumente muzicale: SoundMaster<i class="fa-solid fa-drum"></i></h1>
</header>

<nav>
    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/ico/favicon-96x96.png" alt="menu">
    </label>
    <input type="checkbox" id="ch-menu" />
    <ul class="meniu">
        <li>
            <a href="index.html">Acasă</a>
            <ul>
                <li><a href="#welcome">Prezentare</a></li>
                <li><a href="#produse-populare">Produse Populare</a></li>
                <li><a href="#program-evenimente">Evenimente</a></li>
                <li><a href="#anunturi">Anunturi</a></li>
                <li><a href="#resurse">Resurse</a></li>
                <li><a href="#promotii">Promotii</a></li>
                <li><a href="#instrumente">Instrumente</a></li>
            </ul>
        </li>
        <li><a href="#galerie-statica">Galerie</a></li>

        <li><a href="#demo-instrumente">Demo Instrumente</a></li>

        <li><a href="#contact-info">Contact</a></li>
    </ul>
</nav>